body {
background-color: dimgrey;
}

table {
    height: auto;
    width: auto;
    background-color: saddlebrown;
    margin: 40px;
}


div#PlayersHand table {
    border: 1px solid burlywood;
    background-color: burlywood;
}

div#PlayersHand table td{
    border: 1px solid black;
}

